{% extends "NSPArticleBundle::layout.html.twig" %} {% block title %}{{ parent() }} - Ajout Article {% endblock %} {% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/nsparticle/css/ajoutArticle.css') }}"> 
{% endblock %} 
{% block body %}

<div class="interface-ajout">
    <div class="choix-selection">
        <h1>Thèmes</h1>
        <div class="theme-choix-container">
            <div class="theme-choix"></div>
            <div class="theme-choix"></div>
            <div class="theme-choix"></div>
            <div class="theme-choix"></div>
            <div class="theme-choix"></div>
            <div class="theme-choix"></div>
        </div>
    </div>
</div>

{% endblock %}


