{% extends "NSPInterfaceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - A propos {% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/apropos.css') }}">{% endblock %}

{% block body %}
	
	<h1>Qui sommes nous ?</h1>

	<div class="cont">
		<p> Notre équipe se compose de six étudiants qui sont : BANCQUART Vincent, BOUVINET Ludovic, GUICHAR Arthur, GUYON Mélina, MARIE Luc et LARADE Loris. Nous avons créé une association ayant pour objectif la mise en place d'un site web journalistique. </p>
		<hr>
	</div>

	<h1>Le but de notre associat<wbr>ion</h1>

	<div class="cont">
		<p> Participer à l’amélioration de la vie étudiante sur le campus, et la rendre plus vivante. Ainsi nous tentons d’instaurer un nouveau vecteur de communication centralisé pour faire transiter les informations de manière rapide et simple dans l’environnement de l’étudiant. </p>
		<hr>
	</div>
	
	<h1>Notre projet</h1>

	<div class="cont">
		<p> Notre vocation première est de donner un second souffle à la vie étudiante de l'UPEM qui, d'après nos observations, serait en déclin depuis quelques années. Nous voulons que chaque étudiant prenne conscience qu'il existe une vie étudiante et qu'il se sente concerné par celle-ci. </p>

		<p> Notre projet aura pour particularité son côté participatif, c'est à dire que chaque étudiant de l'Université Paris-Est Marne-la-Vallée pourra poster un article sur le site, sous modération de l'équipe Aujour'nal. </p>

		<p> Nous avons choisi comme nom d'association « Aujour'nal » sur la concaténation des mots « aujourd'hui » et « journal » pour que les gens soulèvent notre apport journalistique à la vie du campus et ce quel que soit l'instant. </p>
		<hr>
	</div>	

	<h1>Pourquoi ?</h1>

	<div class="cont">
		<p> Actuellement il y a un manque de visibilité des nerfs d’activités du campus autant symboliquement que géographiquement. Le campus semble divisé en grappes distinctes et indépendantes qui vivent en autonomie. </p>

		<p> Nous avons ressenti un manque d’investissement des étudiants dans leur quête d’informations. Pour qu’ils soient au courant, il faudrait que les informations soient réceptionnées directement dans leur environnement, sans effort de leur part. Il existe un grand nombres d’activités qui ne sont que trop peu exploitées en raison d’une diffusion des informations trop éparses.
		<br>
		De nouvelles infrastructures sont mises en place telles que la Maison de l’Étudiant qui doit devenir le centre des activités du campus ainsi qu’une référence pour les étudiants. </p>
		<hr>
	</div>
	
	<h1>Extrait du Journal Officiel</h1>

	<div class="cont">
		<span id="head">
			Annonce n° 1599 - page 4940 
			<br>
			77 - Seine-et-Marne 
			<br>
			ASSOCIATIONS 
			<br>
			Créations
		</span>
		<p> Déclaration à la Sous-Préfecture de Meaux. </p>
		<p> AUJOUR'NAL. </p>
		<p> Objet : le projet de cette association est d'offrir une plate-forme journalistique participative, accessible à tous les étudiants de l'université Paris-Est - Marne-la-Vallée - qu'ils souhaitent avoir une visibilité de l'actualité du campus ou participer à la rédaction et à l'animation d'un contenu en ligne. </p>
		<p> Siège social: 5,boulevard Descartes,77454 Champs-sur-Marne. </p>
		<p> Date de la déclaration : 8 octobre 2015. </p>

	</div>

{% endblock %}