{% extends "NSPInterfaceBundle::layout.html.twig" %} {% block title %}{{ parent() }} - Mentions Légales {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/charteutil.css') }}">{% endblock %} {% block body %}
<div class="backmentions">
    <div class="backblancapropos">
        <div class="content">
            <h1>Charte d'utilisation de NoSheetPaper</h1>

            <h2>1. Avant-propos</h2>

            <div class="cont">
                <p> Cette charte a été élaborée afin de préciser aux utilisateurs du site http://www.nsp.fr les conditions d'utilisation de ce dernier, notamment l'utilisation des services dédiés à la communication (espaces commentaire et messagerie interne) permettant à des utilisateurs du monde entier, possédant généralement des cultures différentes, d'échanger des messages en ligne. Cependant, cette charte s'applique également au système de rédaction d'articles où l'utilisateur doit pouvoir écrire son article tout en restant respectueux vis-à-vis de la loi et des autres utilisateurs. </p>

                <p> Toute personne naviguant sur le site est considérée comme un utilisateur, qu'elle soit identifiée ou non sur le site. Cependant, seuls les utilisateurs identifiés sur le site sont considérés comme membres. </p>

                <p>L'espace commentaire ainsi que la messagerie interne sont ouverts aux membres pour leur permettre de discuter librement au sujet des différents articles présents sur le site ou de la vie étudiante en général. Toutefois, afin de garantir la meilleure qualité dans les échanges et de protéger les utilisateurs des messages insultants ou inappropriés d'usagers indélicats, l'espace commentaire est modéré a posteriori, ce qui signifie que des personnes accréditées (les modérateurs et administrateurs) ont la possibilité de supprimer les messages ne se conformant pas à la présente charte.</p>
            </div>

            <h2>2. Périmètre</h2>

            <div class="cont">
                <p> NoSheetPaper (NSP) a été développé de manière à offrir un service gratuit de qualité à ses différents utilisateurs afin de permettre le partage des idées et de l'information en matière de culture et de vie étudiante. Il s'adresse à tous les internautes mais plus particulièrement aux étudiants de l'Université Paris-Est Marne-la-Vallée. </p>

                <p> Dans ce cadre, tous les utilisateurs du site se doivent de respecter les autres usagers en adoptant une attitude citoyenne conforme à la philosophie du site. </p>

                <p> Dans ce même esprit, chaque membre se doit d'utiliser son compte de manière personnelle. Aussi, il convient de ne pas divulguer son mot de passe quelles qu'en soient les circonstances. </p>
            </div>

            <h2>3. Le recrutement et la rémunération </h2>

            <div class="cont">
                <p> NoSheetPaper (NSP) est administré et mis à jour par l'association étudiante Aujour'nal domiciliée à l'Université Paris-Est Marne-la-Vallée. Ainsi, le recrutement s'effectue par prise de contact avec un ou plusieurs membres de la-dite association.
                <br>
                Aujour'nal est une association loi de 1901. Par conséquent, elle est à but non lucratif et ses membres ne sont pas rémunérés. Ils sont bénévoles et payent une cotisation annuelle dont le montant est indiqué dans les statuts de l'association.
                <br>
                De plus, l'espace commentaire n'a pas pour but de servir de plateforme de recrutement. Nous vous invitons à contacter l'équipe par la messagerie interne ou par les réseaux sociaux si vous portez un interêt quelconque pour ce projet. </p>
            </div>

            <h2>4. Droit de modification de la charte</h2>

            <div class="cont">

                <p> Les membres du C.A. de l'association Aujour'nal se réservent un droit de modification de cette charte d'utilisation sans annonce préalable afin qu'elle puisse s'adapter à tous les cas de figure. </p>

            </div>

            <span>
                Réalisé sous la direction du C.A. de l'association étudiante Aujour'nal.
                Ce document intitulé « Charte d'utilisation de NoSheetPaper » issu de www.nosheetpaper.fr est mis à disposition sous les termes de la licence Creative Commons. Vous pouvez copier, modifier des copies de cette page, dans les conditions fixées par la licence, tant que cette note apparaît clairement.
            </span>

            <h2>5. Gestion de communauté.</h2>

            <div class="cont">
                <h3>Le rôle des Gestionnaires de Communauté</h3>

                <p> Les Gestionnaires de Communauté (GC) tels que les Community Manager (CM) sont les interlocuteurs privilégiés des modérateurs. Ils doivent être capables de répondre à leurs questions, de trancher pour des prises de décisions importantes, faire remonter leurs remarques à l'association et les tenir au courant de l'évolution du site. </p>

                <h3>Le rôle des Gestionnaires de Communauté</h3>

                <p> Les représentants d'une marque sont les bienvenus sur le site de NoSheetPaper (NSP) aux conditions expresses :
                <br>
                - que leurs pseudos indiquent clairement leur affiliation à cette marque.
                <br>
                - qu'ils ne postent aucun commentaire destiné, de manière directe ou indirecte, à faire la promotion de leur marque.
                <br>
                - qu'ils répondent aux internautes en respectant le libre-arbitre et les règles de concurrence, ils ne sont pas là pour proposer leurs produits mais éclairer et dépanner les internautes.
                <br>
                - qu'en aucun cas leurs interventions puissent être assimilées à de la publicité déguisée.
                </p>

                <p>L'utilisation de la messagerie privée est tolérée afin de récupérer des informations personnelles mais la suite de la conversation doit se dérouler dans l'espace commentaire.</p>

                <p>Les modérateurs gardent leur autorité sur ces intervenants qui doivent être modérés si besoin. Ils peuvent alerter les GC afin de leur indiquer les raisons de la modération et leur permettre de prendre le relais avec le représentant de la marque pour dialoguer avec lui.</p>

                <p>Si un mandataire désire ce statut afin d'utiliser son droit de réponse, il peut contacter les GC de NSP via les réseaux sociaux ou par mail.</p>

                <h3>Sondage / appel à témoin / pétition</h3>

                <p>Le site de NSP n'a pas vocation de servir de support à d'éventuels sondages, appels à témoin pour des sociétés tierces ou pour des pétitions. De fait, tout message allant dans ce sens sera supprimé.
                <br>
                Toutefois, une demande préalable peut être déposée auprès des GC ou des modérateurs du site et sera étudiée dans l'interêt de tous.</p>

            </div>

            <h2>6. Principes de modération.</h2>

            <div class="cont">
                <h3>Principes de modération</h3>

                <p> Selon Wikipédia : la modération d'informations consiste à accepter, déplacer vers une rubrique plus appropriée ou refuser intégralement ou partiellement la publication d'une information déposée par un utilisateurs sur un site web [...]. Un utilisateur responsable de la modération est appelé un modérateur. </p>

                <p> Sur NSP, les modérateurs sot des membres choisis sur la base des critères suivants :
                <br>
                - étudiant de l'Université Paris-Est Marne-la-Vallée.
                <br>
                - adhérent à l'association Aujour'nal.
                <br>
                - qualités suivantes : capacité d'analyse, bonne maîtrise de la langue française et connaissances techniques, diplomatie, sens du relationnel. </p>

                <h3>La liberté des uns s'arrête où commence celle des autres</h3>

                <p> L'objectif des modérateurs est de faire en sorte que les principes fondateurs de la charte de NoSheetPaper soient appliqués, tout en faisant leur maximum pour que les espaces dédiés à la communication de NSP restent des espaces d'expression ouverts au plus grand nombre. </p>

                <h3>Charte du modérateur</h3>

                <p>Le code de conduite des modérateurs répond aux quatre règles suivantes :</p>

                <p>- Respecter les usagers de NoSheetPaper. Le modérateur est libre de s'exprimer librement, dans les limites du respect de la présente charte. Quel que soit le comportement d'un internaute sur les espaces dédiés à la communication, le modérateur se doit de respecter l'utilisateur sans discrimination.</p>

                <p>- Assister les utilisateurs, en particulier les nouveaux venus. Les modérateurs interviennent bénévolement, de leur propre initiative, sans aucune obligation de moyens ou de résultats. Ils sont là par goût ou par plaisir et font leur maximum pour fournir aide et assistance aux utilisateurs.</p>

                <p>- Traiter les alertes émises par les membres du site. Le modérateur doit faire preuve d'objectivité et d'impartialité. En cas de doute, il peut se référer aux autres modérateurs et s'en remettre à l'avis de la majorité. Dans ses relations avec les autres modérateurs, il favorise l'esprit d'équipe, le respect, la solidarité et la confiance.</p>

                <p>- Faire appliquer la charte. Le modérateur doit veiller en tout temps, à titre individuel et collectif, au respect des valeurs portées par la présente charte, en particulier le respect de la législation, la neutralité commerciale et religieuse, et le respect d'autrui.</p>

                <h3>Comment aider les modérateurs ?</h3>

                <p>N'essayez pas de vous improviser modérateur. L'action des modérateurs est principalement pilotée par la fonctionnalité de messagerie interne offerte aux membres et permettant de signaler un message contraire à la charte.</p>

                <h3>Contestations de modération</h3>

                <p>Il est généralement inutile de contester les modérations. Interrogez-vous d'abord sur la raison de cette modération en vous référent à la présente charte.
                N'essayez pas de vous plaindre dans l'espace commentaire, vous risqueriez de voir votre commentaire supprimé et votre compte mis en garde voir banni.</p>

                <p>Si vraiment vous estimez qu'il y a eu erreur, vous pouvez envoyer un message privé au modérateur qui vous a modéré ou à un GC qui traitera votre demande.</p>


            </div>

            <h2>7. Aspects légaux.</h2>

            <div class="cont">

                <h3>Respect de la législation</h3>

                <p> Internet est souvent considéré comme une zone à part en matière de droits par les internautes. Pour autant, chaque site Internet et par extension tous ses utilisateurs sont soumis à la législation du pays dans lequel le site est hébergé. Ainsi, NoSheetPaper et ses utilisateurs se doivent de respecter la législation française. </p>

                <p>Sont ainsi notamment interdits (à titre non exhaustif) et le cas échéant sanctionnés par voie pénale :
                <br>
                - L'atteinte à la vie privée d'autrui (citation nominative de tierces personnes sans leur accord explicite). Dans ce cadre, l'envoi de messages électroniques non sollicités aux utilisateurs du site est interdit.
                <br>
                - La diffamation et l'injure.
                <br>
                - L'incitation aux crimes et aux délits et la provocation au suicide, à la discrimination, à la haine notamment raciale et/ou à la violence.
                <br>
                - L'apologie de tous les crimes, notamment meurtres, viols, crimes de guerre et crimes contre l'humanité / la négation de crimes contre l'humanité.
                <br>
                - La reproduction, représentation ou diffusion d'une œuvre soumise à des droits de propriété intellectuelle ne le permettant pas.
                <br>
                - La publicité ou les messages à vocation commerciale.
                <br>
                - Les discussions traitant de la copie de logiciels commerciaux pour un usage autre qu'une copie de sauvegarde dans les conditions prévues par le code de la propriété intellectuelle.</p>

                <h3>Le cas des échanges peer-to-peer</h3>

                <p>L'utilisation de logiciels d'échange de fichiers d'égal à égal (en anglais Peer-to-Peer, notés P2P) n'est pas interdite par la loi en vigueur en France. Néanmoins, l'utilisation de ces logiciels pour le partage d'oeuvres ou de logiciels protégés par le droit d'auteur l'est.</p>

                <p>Ainsi, les discussions concernant l'utilisation de ce type de logiciels sont tolérées sur le site. En revanche, toute discussion faisant explicitement référence à la copie ou au partage d'oeuvres protégées seront supprimées de l'espace commentaire et/ou de la messagerie. Merci, le cas échéant, de ne pas contester la suppression et d'utiliser intelligemment votre énergie pour poster un message conforme à la présente charte.</p>

            </div>

            <h2>8. Neutralité.</h2>

            <div class="cont">

                <h3>Neutralité commerciale et culturelle</h3>

                <p> Afin de préserver la neutralité commerciale et culturelle du site, il est interdit de poster des messages invitant à visiter un site par le biais d'une URL ou semblant d'URL sauf lien donnant une réponse à une question particulière d'une personne sur le site ou du signalement d'une actualité en rapport avec le sujet de l'article.</p>

                <p> Les messages demandant l'avis des utilisateurs sur un site particulier ou recommandant une adresse sont tolérés dans la mesure où :
                <br>
                - un seul message est posté dans un seul espace commentaire. Dans le cas contraire, les messages seront considérés comme du SPAM et seront tous supprimés.
                <br>
                - l'url concernée ne correspond pas à un programme d'affiliation, à un site donnant des conseils sur la façon de gagner de l'argent facilement ou à un site contenant des éléments non conformes à la présente charte. </p>

                <p> Pour les mêmes raisons, les URL ou semblant d'URL ne sont pas autorisés dans le pseudonyme ou la présentation d'un membre, comme tout ce qui vise à faire la promotion ou la publicité d'un site web pour inciter quelqu'un à le visiter. </p>
                
                <h3>Neutralité religieuse, politique et culturelle</h3>

                <p>Les espaces commentaires de NSP sont ouverts à tous et toutes, âges, cultures et confessions confondues. Aussi, afin de préserver la laïcité de ce site et d'éviter tout prosélytisme, il est demandé à chacun de ne pas afficher ses croyances religieuses ou politiques dans son profil.</p>

            </div>

            <h2>9. respect d'autrui.</h2>

            <div class="cont">

                <h3>Respect d'autrui</h3>

                <p> Les différents espaces dédiés à la communication sur nosheetpaper.fr mettent en relation des personnes issues de milieux différents, tendant vers un seul but : le partage des idées et de la vie étudiante. Ainsi, toutes les personnes contribuant à cet objectif sont des utilisateurs volontaires et bénévoles. </p>
            
                <h3>Politesse</h3>

                <p>Il est donc indispensable d'utiliser l'espace commentaire avec le plus grand respect vis-à-vis des utilisateurs. Chaque nouveau message devra donc être le plus courtois possible. La polistesse se traduit tous les jours par l'utilisation de certains termes comme bonjour, au revoir, bienvenue, s'il vous plaît (svp) ou merci et par des attitudes spécifiques.
                <br>
                Cette règle de conduite est valable dans la vie de tous les jours mais aussi sur NSP (NoSheetPaper).</p>
                
                <p>Exemple de message à éviter : « DONNEZ-MOI LES BONS PLANS ! »
                <br>
                La formule suivante est préférable :
                « Bonjour, je suis à la recherche d'un bon plan pour ce soir dans le 77. Auriez-vous quelque chose à me proposer ? Merci d'avance de votre réponse ! Alexis J. »</p>

                <h3>Remerciements</h3>

                <p>De la même facçon, afin d'encourager les contributions des différents utilisateurs, il est généralement appréciable de remercier les personnes qui vous aident. Si vous trouver la solution à votre problème, n'hésitez pas à la poster dans l'espace prévu à cet effet : elle pourra peut-être servir à un autre !</p>

                <h3>Humilité</h3>
                    
                <p>Il peut arriver que certains usagers envoient des messages ne répondant pas directement à la question ou bien proposant des solutions qui ne vous semblent pas appropriées. Dans ce cas, il est de bon ton de donner votre avis sur le sujet, sans pour autant rejeter avec violence la proposition précédente. D'une manière générale, la courtoisie est conseillée sur les différents espaces dédiés à la communication.</p>

                <p>Lorsque des utilisateurs répondent à votre commentaire, il vous suffit de répondre à votre propre commentaire pour continuer la discussion. Pour autant, n'exigez pas de réponse immédiate des internautes. Ce sont des personnes volontaires et bénévoles n'ayant pas forcément la réponse à votre question.</p>

                <p>De plus, pour le confort de tous les utilisateurs, il est recommandé de ne pas poster le message plusieurs fois. Cependant, si vous n'avez pas de réponse dans les 24h, vous avez la possibilité de re-poster un message similaire au précédent.</p>

            </div>

            <h2>10. Conseils d'écriture.</h2>

            <div class="cont">

                <h3>Style</h3>

                <p>Les échanges sur un espace en ligne dédié à la discussion sont radicalement différents des échanges traditionnels dans la mesure où les messages sont textuels et souvent rédigés rapidement.</p>

                <p>Ainsi, un message rédigé en majuscules peut donner 'impression d'une hausse de ton et est souvent interprété comme un signe d'énervement. Il en est de même pour un message suivi d'un grand nombre de caractères de ponctuation. Il est donc recommandé de faire un usage modéré de ce type d'artifice.</p>

                <p>Voici un exemple de message à éviter : POUVEZ-VOUS ME DONNER LA REPONSE ?!?!
La formule suivante est préférable :
« Bonjour, je n'ai pas bien compris ce passage où […] seriez-vous en mesure de m'éclairer ? Merci d'avance de votre réponse ! »</p>

                <p>Il est également demandé aux utilisateurs de s'appliquer lors de la rédaction de leur message en évitant au possible les abréviations de type « SMS » ou langage abrégé et en vérifiant l'orthographe. Un message rédigé en langage abrégé et/ou difficile à lire compte tenu du nombre de fautes d'orthographes est susceptible d'être supprimé afin de garantir une qualité de lecture des échanges.</p>

                <p>Étant donné que les messages postés ne permettent pas toujours de refléter l'état d'esprit de celui qui rédige, il vous est possible et généralement conseillé d'utiliser des smileys – des caractères spéciaux permettant d'indiquer d'indiquer à votre interlocuteur le ton de votre message.</p>

                <h3>Titre du message</h3>

                <p>Le titre du message est la première chose que les utilisateurs voient sur leur messagerie. Un message au titre correctement rédigé aura donc plus de chance d'être lu et de recevoir une réponse. Le titre des messages doit donc contenir les mots-clés présentant votre sujet/problème et ne doit bien évidemment pas être rédigé avec uniquement des majuscules. De cette manière, les titres ne comportant pas l'objet de la demande sont à proscrire.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}