{% extends "NSPInterfaceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Remerciements {% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/remercimt.css') }}">{% endblock %}

{% block body %}
	<div class="backremerciement">
<div class="backblancapropos">
<div class="content">
	<h1>Remerciements</h1>

	<div class="merci">
		<h2>Merci à vous pour votre soutien !</h2>
		<p>L'équipe d'Aujour'nal - Les enseignants de notre DUT - Radio Recc - Le Service de la Vie Etudiante - Contributeur KissKissBankBank 1 - Contributeur KissKissBankBank 2 - Contributeur KissKissBankBank 3 - Contributeur KissKissBankBank 4 - Contributeur KissKissBankBank 5</p>
 		<hr>
 		<p>Pour votre aide, qu'elle soit pécunière, moral, sentimental ou physique, toute l'association tenait à vous remercier. On reste à votre disposition pour plus d'informations, la bise :)</p>
	</div>
    </div>
     </div>
</div>


{% endblock %}