{% extends "NSPInterfaceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Remerciements {% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/remercimt.css') }}">{% endblock %}

{% block body %}
	
	<h1>Remerci<wbr>ements</h1>

	<div class="merci">
		<h2>Merci à vous pour votre soutien !</h2>
		<p>Melina Guyon - Ludovic Bouvinet - Luc Marie - Vincent Bancquart - Loris Larade - 
Arthur Guichar - Jean Pierre Coffe - François Hollande - Cyprien - Poutre de
 Bamako - LoremIpsum - Leyla Jaoued - Phalus Dominator - Kevin Specey</p>
 		<hr>
 		<p>Pour votre aide, qu'elle soit pécunière, moral, sentimental ou physique, toute l'association tenait à vous remercier. On reste à votre disposition pour plus d'informations, la bise :)</p>
	</div>



{% endblock %}