{% extends "NSPBackBundle::layout.html.twig" %}
{% block title %} {{ parent() }} - Home {% endblock %}


{% block bodyTitre %}
<div class="ban"> <h1 class="titreacc">HOME BACK OFFICE AUJOUR'NAL</h1></div>
{% endblock %}

{% block bodyContent %} 

<div class="container">
     <p class="textebienvenue">Bienvenue dans le Back-Office de Aujour’nal {{user.username}} ! 
C’est ici que tu pourra modérer les commentaires et articles des autres utilisateurs et consulter les statistiques du site
Enjoy</p>
    <img class="plume" src="{{ asset('ressources/plume.png') }}"></img>
   

</div>

{% endblock %}